body{
  background-color: lightgray;
}
div{
  width: 200px;
}
h1{
  color: white;
  background-color: rgb(98, 15, 230);
  font-weight: bold;
  font-style: italic;
}
span{
  color: red;
  font-weight: bold;
}
#demo2{
  color: red;
  font-weight: bold;
}
